<div id="new-question-form-wrapper" class="wrapper">

  <form id="new-question-input" method="post" action="/questions">
  <h1>New Question!</h1>
      <label for="question-title">Title</label>
      <input id="question-title"  name="title" type="text">
      <br>
      <textarea id="question-content" name="content" rows="10" cols="50"></textarea>
      <input id="submit-new-question" type="submit" value="submit">
  </form>
</div>
