<div id="index-box" class="container">
  <div class="question-container">
    <% if @questions %>
      <% @questions.each do |question| %>
        <%= erb :"/questions/_question", locals: {question: question} %>
      <% end %>
    <% end %>
  </div>
<% if session[:user_id] %>
  <div id="new-question-request-wrapper">
    <form id="question-button" method="get" action="/questions/new" >
        <input class="no-js-button" type="submit" value="New Question">
    </form>
  </div>
  <!-- <div id="new-question-form-wrapper" class="wrapper"> -->
  <div id='new-question-form-holder' class='holder'>
    <%= erb :"/questions/_new" %>
  </div>
  <!-- </div> -->
<% end %>
</div>
