<div id="index-box" class="container">
  <div class="question-container">
    <% if @questions %>
      <% @questions.each do |question| %>
        <%= erb :"/questions/_question", locals: {question: question} %>
      <% end %>
    <% end %>
  </div>
<% if session[:user_id] %>
  <form id="question-button" method="get" action="/questions/new" class="inline">
      <input class="no-js-button" type="submit" value="New Question">
  </form>
<div class="hidden" id="new-question-wrapper">
  <%= erb :"/questions/_new" %>
</div>
<% end %>
</div>
