<div id="new-comment-form-wrapper">
  <h3>New Comment</h3>

  <% if !@commentable && @answer%>
    <% @commentable = @answer %>
  <% elsif !@commentable && @question %>
    <% @commentable = @question%>
  <% end %>

  <form method="post" action="/<%=@commentable.plural_model_name%>/<%=@commentable.id%>/comments">
    <textarea class="comment-field" name="body" rows="2" cols="40"></textarea>
    <input class="submit-comment-button" type="submit" value="Add Comment">
  </form>
</div>
