<div id="new-comment-form" class="container">
    <h1>New Comment!</h1>
  <form method="post" action="/comment">
      <textarea id="comment-content" name="comment[body]" rows="10" cols="30"></textarea>
      <input type="submit" value="comment">
  </form>
</div>
