<div id="new-comment-form">
  <h1>New Comment</h1>

  <% if !@commentable && @answer%>
    <% @commentable = @answer %>
  <% elsif !@commentable && @question %>
    <% @commentable = @question%>
  <% end %>

  <form method="post" action="/<%=@commentable.plural_model_name%>/<%=@commentable.id%>/comments">
    <textarea id="comment-content" name="body" rows="2" cols="40"></textarea>
    <input id="submit-comment-button" type="submit" value="Add Comment">
  </form>
</div>
