div {
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.font-creepster {
  font-family: 'Creepster', 'Times new roman', Sans-serif;
}

.font-deWalpergen {
  font-family: "de-walpergens-pica", 'Times new roman', Sans-serif;
}

button.vote-button {
  background: transparent;

  margin:0;

}

.arrow-wrapper{
  border: 2px dashed black;
  max-width: 2em;
  margin: 0;
}

#title{
  border-style: solid;
  margin: 20px 20px 20px 20px;
}

.hidden {
  display: none;
}

.bg-deep-purpl {
  background-color: #5e35b1;
}

.bg-darken-green {
  background-color: #2e7d32;
}


.vote-button {
  padding-right: 0.25em;
  padding-left: 0.25em;
  height: 1.2em;
}

.translate-180 {
  -webkit-transform: rotate(180deg);
}

.poop-button {
  max-height: 10px;
  max-width: 8px;
  margin-bottom: 0.3em;
}

