/*Make headers deWalpergen and p tags Indie flower!*/

body{
  width:87%;
  margin: 0 auto;
  background: linear-gradient(1deg, beige, navy, black);
}

div {
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

h2,h3,h4,h5,h6{
  font-family: "de-walpergens-pica", "Times new roman", Sans-serif;
}

p, span, a, input, button {
  font-family: "Indie Flower", "Times new roman", Cursive;
}

a {
  color: #2e7d32;
}

#main-container{
  background-color: #fffde7;
  border-radius: 25px;
}

.nav-link {
  padding-left: 1em;
  padding-right: 1em;
}

.font-creepster {
  font-family: "Creepster", "Times new roman", Sans-serif;
  font-size: 3em;
  letter-spacing: 0.05em;
  color: lemonchiffon;
  padding-left: 3.8em;
}

#sort-title {
  font-size: 1.5em;
  padding-right: 15em;
  margin-bottom: 0;
}

.tab-holder{
  border-collapse: collapse;
}

.tab-header{
  border-bottom: 0.025em solid #2e7d32;
  border-collapse: collapse;

}

.sort-tab{
  text-decoration: none;
  padding-bottom: 1.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-collapse: inherit;
}

.active{
border-left: 0.025em solid #2e7d32;
border-top: 0.025em solid #2e7d32;
border-right: 0.025em solid #2e7d32;
border-collapse: inherit;
}

#question-button{
  padding: 1em;
  border-radius: 25px;
}


#question-wrapper{
  border: 4px solid darkgreen;
  padding: 1em;
}

#question-page-container{
  padding: 1em;
}


.font-deWalpergen {
  font-family: "de-walpergens-pica", "Times new roman", Sans-serif;
}

.font-indieflower{
  font-family: "Indie Flower", "Arial", Sans-serif;

}

button.vote-button {
  background: transparent;
  margin:0;

}

.vote-cell-wrapper{
  padding-right: 1em;
  padding-top: 0;
  padding-bottom:0;

}

.vote-count{
  padding-left:0.3em;
}

.arrow-wrapper{
  border: 2px dashed black;
  max-width: 2em;
  margin: 0;
}

#title{
  border-style: solid;
  margin: 5px 20px 5px 20px;
  background-color: #5e35b1;
}

.question-card-row{
  border-bottom: 0.025em solid #2e7d32;

}
.question-card-cell{
  padding-left:1em;
  width:33em;
}

.question-card-mini-cell{
  width: 4.5em;
}

.mini-cell-count{
  padding-left: 1em;
}


a.question-title{
  font-size: 2.75em;
  text-decoration: none;
}

.hidden {
  display: none;
}


.brd-rad-25{
  border-radius: 25px;
}

.bg-deep-purpl {
  background-color: #5e35b1;
}

.bg-darken-green {
  background-color: #2e7d32;
}

.bg-amber-light4{
  background-color: #ffecb3;
}


.vote-button {
  padding-right: 0.25em;
  padding-left: 0.25em;
  height: 1.2em;
}

.translate-180 {
  -webkit-transform: rotate(180deg);
}

.poop-button {
  max-height: 10px;
  max-width: 8px;
  margin-bottom: 0.3em;
}

.comment-section {
  border-top: 0.025em solid #2e7d32;
  border-bottom: 0.025em solid #2e7d32;
  border-radius: 15px;
}
.spooky{
  font-size: 3.25em;
}
