<ul class="nav-list">

  <li class="nav-link"><a href="/questions">Home</a></li>
  <li class="nav-link"><a href="/users/<%= session[:user_id] %>">Profile</a></li>

  <li class="nav-link">
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input id="login button" type="submit"value="Log Out">
    </form>
  </li>
</ul>
