<table class="nav-wrapper">
<tr class="nav-list">
  <td class="nav-link"><a id="" href="/questions">Home</a></td>
  <td class="nav-link"><a href="/users/<%= session[:user_id] %>">Profile</a></td>
  <td class="nav-link js hidden"><form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete"><a id="logout-link"  href="/sessions">Logout</a></form></td>
  <td id="logout-form-wrapper" class="nav-link no-js">
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input id="login button" class="brd-rad-25 bg-amber-light4" type="submit" value="Log Out">
    </form>
  </td>
</tr>
</table>
