<div class="container">
  <h1> User registration</h1>
<form method="post" action="/users"
    <label for="name_input">Username</label>
    <input id="user_name" name="user[username]" type="text">
    <br>

    <label for="email_input">Email Address</label>
    <input id="email_input"  name="user[email]" type="text">
    <br>

    <label for="password_input">Password</label>
    <input id="password_input"  name="user[password]" type="password">
    <input type="submit" value="submit">

</form>
</div>
