<div class="form-wrapper">
  <h2>New Answer</h2>

  <form action="/questions/<%= @question.id %>/answers" method="post">
    <label for="response"></label>
    <input type="text" placeholder="My answer" name="response">
    <input type="submit" value="Submit Answer">
  </form>
</div>
