<div class="form-wrapper">
  <h1>New Answer</h1>

  <form action="/questions/<%= @question.id %>/answers" method="post">
    <label for="response">Answer:</label>
    <input type="text" placeholder="My answer" name="response">
    <input type="submit" value="Submit Answer">
  </form>
</div>
