<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <!-- <script src='http://use.edgefonts.net/creepster.js'></script> -->
  <script src='http://use.edgefonts.net/de-walpergens-pica.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  <title>Spooky Overflow</title>
</head>

<body>
    <nav id="nav-holder">
  <% if logged_in? %>
    <%=erb(:'./users/_logged-in') %>
  <% else %>
    <%=erb(:'./users/_logged-out') %>
  <% end %>
    </nav>
  <header role="banner" id="main-header">
  <!-- LOGO GOES HERE! -->
  <div id="title">
    <h1 class="font-creepster">Spooky Overflow</h1>
  </div>
  </header>

  <div id="error-holder">
    <ul id="error-list">
    <% if @errors %>
      <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
      <% end %>
     <% end %>
    </ul>
  </div>
  <div id="main-container">
  <%= yield %>
  </div>
</body>
</html>
