<form class="down-vote" method="post" action='/<%= @votable.plural_model_name %>/<%= @votable.id %>/votes'>
  <button type="submit" name="vote" value="-1" class="vote-button downvote-button">
    <img src="../images/poop_emoji.png" alt="DOWN" class="poop-button translate-180"/>
  </button>
</form>
