<form class="up-vote" method="post" action='/<%= @votable.plural_model_name %>/<%= @votable.id %>/votes'>

  <button type="submit" name="vote" value="1" class="vote-button upvote-button">
    <img src="../images/poop_emoji.png" alt="UP" class="poop-button"/>
  </button>
</form>
